
<div class="row">
    <div class="col-12">
        <div class="card mb-4" 
        ngClass="{
            'notAvail' : !mobile.isAvailable
        }"
        *ngFor="let mobile of mobileProducts">
        <p class="noProdAvl" *ngIf="!mobile.isAvailable">
            Product is not available
        </p>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                         <div class="imgContainer">
                            <img 
                            [src]="mobile.image ? mobile.image : 'https://placehold.co/600x400'" 
                            [alt]="mobile.name" 
                            [title]="mobile.name" class="img-fluid"
                            *ngIf="mobile.image; else noImg"
                            >
                            <ng-template #noImg>
                                <p class="noImage text-muted m-0 d-flex justify-content-center align-items-center">
                                    Product Image is not available
                                </p>
                            </ng-template>
                        </div> 
                    </div>
                    <div class="col-md-8">
                       <h4>
                        {{mobile.name}}
                        <small
                        class="text-white p-1 rating"
                        [ngClass]="{
                            'bg-success' : mobile.rating >= 4,
                            'bg-warning' : mobile.rating >= 3 && mobile.rating < 4,
                            'bg-danger' : mobile.rating < 3
                        }"
                        >
                        {{mobile.rating}}*
                        </small>
                       </h4>
                       <p class="rating">
                       
                       </p>
                       <div class="elem">
                                <ul>
                                    <li>6 GB RAM | 128 GB ROM</li>
                                    <li> 16.76 cm (6.6 inch) Display</li>
                                    <li> 50MP Rear Camera</li>
                                    <li>6000 mAh Battery</li>  
                                </ul>  
                                
                       </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
